/* TOP - TITLE + NAV */
#top {
    background-color: black;
}

nav a {
    font-size: 0.8rem;
    font-weight: 800;
}

header img {
    max-height: 835px;
    object-fit: cover;
}

#imgText p {
    font-size: 0.9rem;
}


/* MAIN */
main #postContent {
    margin-top: -87px;
    background-color: white;
    
    font-size: 1.1rem;
    line-height: 2.3rem;
}

#commentContainer article img {
    height: 101px;
    width: 101px;
    border-radius: 50%
}

.commentReply:hover {
    cursor: pointer;
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    main article {
        margin-top: 0px;
    }
}

@media screen and (max-width: 576px) {
    #imgText h1 {
        font-size: 1.8rem;
    }
}