@import 'main';

// Variables
$btnBackgroundColor: #1c7cd5;

@mixin breakPoint {
    @media (max-width: 992px) {
        @content
    }
}

body, html {
    height: 100%;
}

// TOP BAR
#title {
    font-size: 1.4rem;
}

// SIDEBAR
#secondRow {
    aside {
        background-color: #eceeef;
    
        // NAV
        .navContainer {
            .nav {
                // .nav .active
                .active {
                    background-color: $btnBackgroundColor;
                    color: white!important;
                }
            
                a {
                    font-size: 1.05rem;
                }
            
                .nav-link {
                    padding: 0.5rem 2rem!important;
                }
            }

            @include breakPoint {
                text-align: center;
            }
        }
    
        // aside:first-child
        &:first-child {
            @include breakPoint {
                padding: 0.3rem!important;
            }
        }
    }

    @include breakPoint {
        height: auto!important;
    }
}


// FORMS
main form {
    max-width: 620px;

    #choseImg p {
        direction: rtl;
    }

    #imageTextHelp {
        font-size: 0.9rem;
    }

    #publishBtn {
        background-color: #1c7cd5;
        border-color: #1c7cd5;
        font-size: 1.05rem;
    }
}