@import 'main';

// TOP
#top {
    background-color: black;

    // NAV
    // nav a
    a {
        font-size: 0.8rem;
        font-weight: 800;
    }
}

// HEADER
header {
    img {
        max-height: 835px;
        object-fit: cover;
    }

    // #imgText p
    p {
        font-size: 0.9rem;
    }

    @media screen and (max-width: 576px) {
        // #imgText h1
        h1 {
            font-size: 1.8rem;
        }
    }
}

// MAIN
main {
    #postContent {
        margin-top: -87px;
        background-color: white;
        
        font-size: 1.1rem;
        line-height: 2.3rem;

        @media screen and (max-width: 768px) {
            margin-top: 0px;
        }
    }

    #commentContainer {
        // article img
        img {
            height: 101px;
            width: 101px;
            border-radius: 50%
        }

        .commentReply:hover {
            cursor: pointer;
        }
    }
}